{% extends 'main/base.html' %}

{% block title %}Общая статистика{% endblock %}

{% block content %}

<h2>Общая статистика</h2>

<div class="parent">
    <div class="container-stat">
      <div class="left">
        <h3>{{ sections.0.title }}</h3>
        <img src="{{ sections.0.graph.url }}" />
      </div>

      <div class="right">
        <div class="statistics">
          {{ sections.0.table_html|safe }}
        </div>
      </div>
    </div>

    <div class="container-stat">
      <div class="left">
        <h3>{{ sections.1.title }}</h3>
        <img src="{{ sections.1.graph.url }}" />
      </div>

      <div class="right">
        <div class="statistics">
          {{ sections.1.table_html|safe }}
        </div>
      </div>
    </div>

    <div class="container-stat">
      <div class="left">
        <h3>{{ sections.2.title }}</h3>
        <img src="{{ sections.2.graph.url }}" />
      </div>

      <div class="right">
        <div class="statistics">
          {{ sections.2.table_html|safe }}
        </div>
      </div>
    </div>

    <div class="container-stat">
      <div class="left">
        <h3>{{ sections.3.title }}</h3>
        <img src="{{ sections.3.graph.url }}" />
      </div>

      <div class="right">
        <div class="statistics">
          {{ sections.3.table_html|safe }}
        </div>
      </div>
    </div>

    <div class="container-stat">
      <div class="left">
        <h3>{{ sections.4.title }}</h3>
        <img src="{{ sections.4.graph.url }}" />
      </div>

      <div class="right">
        <div class="statistics">
          {{ sections.4.table_html|safe }}
        </div>
      </div>
    </div>

    <div class="container-stat general_last">
      <div class="left">
        <h3>{{ sections.5.title }}</h3>
        <img src="{{ sections.5.graph.url }}" />
        <img src="{{ sections.6.graph.url }}" />
        <img src="{{ sections.7.graph.url }}" />
        <img src="{{ sections.8.graph.url }}" />
        <img src="{{ sections.9.graph.url }}" />
        <img src="{{ sections.10.graph.url }}" />
        <img src="{{ sections.11.graph.url }}" />
        <img src="{{ sections.12.graph.url }}" />
        <img src="{{ sections.13.graph.url }}" />
        <img src="{{ sections.14.graph.url }}" />
      </div>

      <div class="right">
        <div class="statistics">
          {{ sections.5.table_html|safe }}
        </div>
      </div>
    </div>
</div>

{% endblock %}