{% extends 'main/base.html' %}

{% block title %}Навыки{% endblock %}

{% block content %}
<h2>Навыки</h2>

<div class="parent">
  {% for section in sections %}
    <div class="container-stat {% if forloop.last %}skills-last{% endif %}">
      <div class="left">
        <h3>{{ section.title }}</h3>
        <img src="{{ section.graph.url }}" />
      </div>
      <div class="right">
        <div class="statistics">
          {{ section.table_html|safe }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
